.updated-text {
  position: absolute;
  left: 0;
  right: 0;
  padding: 10px 0;
  font-size: 11px;
  text-align: center;
}

.table-view-cell .icon {
  color: #007aff;
}


.wait {
    background-color: #fff;
    background-image: url("../img/ajax_1.gif");
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bar .icon{
  font-size: 20px !important;
}
.iconRef{
  display: inline !important;
}

.hide{
  display: none;
}

.iconCierra {
    font-size: 31px !important;
    padding: 4px 0 0;
    position: relative;
    z-index: 30;
}